<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
</head>
<body>
    <h1>Tieu de trang chu</h1>
    <h1>Ten sinh vien: <%= abc.name%></h1>
    <h1>Tuoi: <%= abc.age%></h1>
    <h1> Class Name: <%= classroom.name%></h1>
    <h1>Class Room: <%= classroom.room%></h1>


</body>
</html>
